/* Copyright 2019 Daniel Erat. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#duoleavemealone-msg {
  border-radius: 16px;
  bottom: 32px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  left: 50%;
  opacity: 0;
  padding: 16px 24px;
  pointer-events: none;
  position: fixed;
  /* Center horizontally: https://stackoverflow.com/a/25829529/6882947 */
  transform: translateX(-50%);
  transition: opacity 0.2s linear;
  z-index: 9999;
}

#duoleavemealone-msg.shown {
  opacity: 1;
  transition: opacity 0s;
}

#duoleavemealone-msg.correct {
  background-color: #b8f28b;
}
#duoleavemealone-msg.correct div {
  margin-bottom: 0; /* get rid of weird bottom margin */
}
#duoleavemealone-msg.correct h2 + div {
  margin-bottom: 4px; /* add space between e.g. typo and discuss link */
}
#duoleavemealone-msg.correct a.hidden {
  display: none;
}
#duoleavemealone-msg.correct.shown a {
  cursor: pointer;
  pointer-events: auto;
}
#duoleavemealone-msg.correct.shown a.loading {
  cursor: progress;
}
#duoleavemealone-msg.correct.has-extra {
  /* Use a yellowish green when there's extra information, e.g. a typo. Using a
   * filter lets us also change the color of images, e.g. the discuss icon. */
  filter: hue-rotate(-30deg) saturate(120%);
}

#duoleavemealone-msg.complete {
  background-color: #ffd54f;
}
#duoleavemealone-msg.complete h2 {
  margin-bottom: 0; /* get rid of weird 25px bottom margin */
}
#duoleavemealone-msg.complete h2 + h2 {
  margin-top: 12px; /* add some space between consecutive elements */
}
